.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column-reverse;
  // margin-top: -150px;
  position: relative;

  .img img {
    width: 180px;
  }

  .img.cooler {
    position: relative;
    z-index: 99;
    animation: coolerAnime 2s linear;
    transform: translateY(-70px);
  }

  .img.water {
    animation: waterAnime 2s linear;
    transform: rotate(180deg) translateY(0px) translateX(0px);
  }

  .hero_title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    padding: 20px 40px;

    .hero_subtitle {
      width: 400px;
      height: 320px;
      padding: 40px;
      background: rgba(161, 161, 161, 0.616);
      backdrop-filter: blur(5px);
      border-radius: 20px;
      h2 {
        color: #000;
        font-size: 28px !important;
        font-weight: 600;
        height: 60px;
      }

      p {
        color: #333;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
        height: 120px;
      }

      .contact_link {
        background: transparent;
        border: 1px solid #000;
        border-radius: 0;
        color: #000;
        padding: 6px 12px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s all ease;
        font-size: 20px;
      }
      .contact_link:hover {
        background: #fff;
        border-radius: 10px;
      }
    }
  }
}

@keyframes waterAnime {
  0% {
    transform: translateX(-1000px) translateY(-500px);
  }

  100% {
    transform: rotate(180deg) translateY(0) translateX(0px);
  }
}
@keyframes coolerAnime {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(-70px);
  }
}
