.navbar {
  width: 100%;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: auto auto auto;

  .nav_logo {
    max-width: 270px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;

    .nav_link {
      text-decoration: none;
      color: #fff;
      padding: 10px 20px;
      transition: 0.3s all ease;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      li {
        font-size: 20px;
        font-weight: 500;
        text-transform: initial;
      }
    }

    .nav_link:hover {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }

  .lng {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .dropdown {
      position: relative;
      display: inline-block;
      border-radius: 20px;
    }

    .lan {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      img {
        max-width: 30px;
      }
    }
    .dropbtn {
      background-color: transparent;
      color: white;
      padding: 0 16px;
      font-size: 16px;
      border: none;
    }

    .dropdown_content {
      display: none;
      top: 50;
      left: 0;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 10px;
    }

    .dropdown_content a {
      display: flex;
      align-items: center;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-radius: 10px;

      p {
        display: inline;
      }
      img {
        max-width: 20px;
      }
    }

    .dropdown_content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown_content {
      display: block;
    }

    .dropdown:hover {
      cursor: pointer;
      background-color: rgba($color: #000000, $alpha: 0.3);
      border-radius: 10px;
    }
  }
}
