.contact_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;

  .socials {
    display: flex;
    gap: 20px;

    .icon {
      max-width: 30px;

      img {
        width: 100%;
      }
    }
  }

  .box {
    width: 40%;
    padding: 20px;

    h2 {
      color: rgb(18, 65, 107);
      font-size: 48px;
      font-weight: 800;
    }

    .contact_text {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px 0;

      .span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        background: rgb(18, 65, 107);
      }
      p {
        color: rgb(18, 65, 107);
        font-size: 22px;
        font-weight: 600;

        a {
          text-decoration: none;
          color: rgb(18, 65, 107);
        }
      }
    }
  }

  .box_bg {
    width: 60%;
    height: 600px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    iframe{
      border: none;
      border-radius: 20px;
    }
  }
}
